[submodule "AlejandroCasalotti/Softwork"]
	path = AlejandroCasalotti/Softwork
	url = git@github.com:AlejandroCasalotti/Softwork.git
	branch = sw_payment_method

[submodule "sw_sale_margin"]
	path = sw_sale_margin
	url = git@github.com:AlejandroCasalotti/Softwork.git
	branch = sw_sale_margin

[submodule "sw_increase_price_supplier"]
	path = sw_increase_price_supplier
	url = git@github.com:AlejandroCasalotti/Softwork.git
	branch = sw_increase_price_supplier
